* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asap Sharp", sans-serif;
}
.mainContainer {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 10px;
}
header span {
  color: royalblue;
}
header button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: black;
}

/* hero section  */
.hiro_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.hiro_container img{
    width: 400px;
}
.hiro_container h1 {
  font-size: 42px;
  margin-bottom: 10px;
}
.hiro_container span {
  color: aqua;
}

/* lesson_btn_container  */
.lesson_heading{
    text-align: center;
}
.lesson_btn_container {
  padding: 50px 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.level_btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}
.level_btn:hover {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor:pointer ;
}

.active{
    background-color: black;
    color: aliceblue;
}
/* card container style start here  */
.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  padding: 25px;
}
.error_massage,.defaul_show_ms,.default_massage{
    padding: 25px;
    text-align: center;
    border-radius: 10px;

    width: 1250px;
    margin: 0 auto;
}
.error_massage h2{
    margin: 10px;
}
.error_massage img{
   height: 50px;
}
.cards {
  padding: 30px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 10px rgb(225, 224, 224);
  cursor: pointer;
}
.cards p{
    margin: 10px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.icons i {
  padding: 20px;
  height: 30px;
  width: 30px;
  background-color: rgba(237, 238, 238, 0.588);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
/* Lesson btn active color and hover color  */
